.bgMe {
    background: url("assets/img/moi.jpg");
    background-position: center;
    background-size: cover;
}
.bg-music-1 {
    background: url("assets/img/mem.jpg");
    background-position: center;
    background-size: cover;
}
.bg-music-2 {
    background: url("assets/img/Yelle.jpg");
    background-position: center;
    background-size: cover;
}
.bg-byke-1 {
    background: url("assets/img/Auvergne_sky.JPG");
    background-position: top;
    background-size: cover;
}
.bg-byke-2 {
    background: url("assets/img/roadtrip_Auvergne.jpg");
    background-position: center;
    background-size: cover;
}
.bg-byke-3 {
    background: url("assets/img/ballade.png");
    background-position: center;
    background-size: cover;
}

.btn {
    @apply bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.btn-deactivated {
    @apply bg-gray-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.little-chip {
    @apply px-4 py-2 m-1 bg-gray-400 rounded-full font-semibold text-xs flex w-max hover:bg-opacity-90 transition duration-300 ;
    height: fit-content;
}

.little-chip.blue {
    @apply text-white bg-blue-600 hover:bg-opacity-90 ;
}
.little-chip.green {
    @apply text-white bg-green-600 hover:bg-opacity-90 ;
}
.little-chip.yellow {
    @apply text-white bg-yellow-500 hover:bg-opacity-90 ;
}
.little-chip.purple {
    @apply text-white bg-purple-600 hover:bg-opacity-90 ;
}
.talk-frame {
    @apply text-base lg:max-w-md text-center bg-gradient-to-r from-blue-600 to-green-400 rounded-md text-white p-3 md:p-4 mx-6
}
.search-field {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-600 
}
.title {
    @apply md:text-4xl text-2xl  text-center text-blue-600  justify-self-center md:p-4 p-2 rounded-xl bg-white
}
.simple-overlay-text {
    @apply h-auto text-center bg-white bg-opacity-50 p-4 mx-2 z-10
}